body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}


}
.setting-margins-first-post {
    width: 100%;
    position: center;
    padding-top: 50px;
}
.setting-margins-first-post h1 {
    font-family: 'Anton', sans-serif;
    color: black;
    font-weight: bold;
    width: 100%;
}
.setting-margins-first-post h1 a {
    color: black;
}
.setting-margins-first-post h1 a:hover {
    color: rgb(106, 109, 241);
}
.first-blog-content p {
    font-weight: 300;
    font: arial;
}